@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;700&display=swap');

.game-container {
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, rgba(135, 206, 250, 0.5), rgba(173, 216, 230, 0.5)); /* Gradient background */
    color: #ffffff; /* White text color */
    padding: 10px;
    border: 5px solid;
    border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 255, 0.8)) 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    font-family: 'Ysabeau SC', serif; /* Updated font style */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 1000;
    text-align: center;
    animation: slide-in 0.5s ease-out;
    margin-top: 20px; /* Adjust as needed */
    animation: borderAnimation 1.5s infinite alternate, backgroundAnimation 5s infinite alternate;

}

.player, .enemy , .boss {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

.player {
    background-color: white;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dead-text {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    color: red; /* Color for the "DEAD" text */
    font-size: 18px;
    font-weight: bold;
    display: none; /* Initially hidden */
}

.player.dead {
    background-color: grey; /* Change player color to grey when dead */
}


.enemy {
    background-color: red;
    width: 10px;
    height: 10px;
}

.boss {
    width: 30px; /* Adjust size */
    height: 30px; /* Adjust size */
    background-color: rgb(104, 1, 1); /* Boss color */
}

.boss-health-bar {
    display: none; /* Initially hide the health bar */
    position: absolute;
    top: 10px; /* Adjust based on your game layout */
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 20px;
    background-color: #555; /* Background color of the health bar */
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
}

.boss-health-bar-inner {
    height: 100%;
    background-color: #f00; /* Color of the health bar */
    width: 100%; /* Full width for max health */
    transition: width 0.5s ease; /* Smooth transition for health changes */
}

.boss-health-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff; /* Text color */
    font-weight: bold;
    line-height: 20px; /* Align text vertically */
}


@keyframes borderAnimation {
    0% {
        border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 255, 0.8)) 1;
    }
    100% {
        border-image: linear-gradient(45deg, rgba(0, 255, 255, 0.8), rgba(0, 0, 255, 0.8)) 1;
    }
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(135deg, rgba(135, 206, 250, 0.5), rgba(173, 216, 230, 0.5));
    }
    100% {
        background: linear-gradient(135deg, rgba(173, 216, 230, 0.5), rgba(135, 206, 250, 0.5));
    }
}

@keyframes explode {
    0% { transform: translate(0, 0) scale(1); opacity: 1; }
    100% { transform: translate(var(--x), var(--y)) scale(1); opacity: 0; }
}

.enemy .chunk {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: red;
    border-radius: 50%;
    animation: explode 1s forwards; /* Explosion and fade-out effect over 5 seconds */
    z-index: 1000;
}

.chunk {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: red;
    border-radius: 50%;
    animation: explode 1s forwards; /* Explosion and fade-out effect over 5 seconds */
    z-index: 1000;
}

@keyframes flashRed {
    0% { background-color: red; }
    100% { background-color: red; }
}

.player.flash {
    animation: flashRed 0.2s ease-in-out;
}

.flash {
    animation: flashRed 0.2s ease-in-out;
}

.respawn-button {
    display: none; /* Initially hidden */
    position: absolute;
    text-align: center;
    bottom: 70px;
    font-size: 20px;
    background: linear-gradient(135deg, rgba(135, 206, 250, 0.5), rgba(173, 216, 230, 0.5)); /* Gradient background */
    color: #ffffff; /* White text color */
    padding: 10px 20px;
    border: 3px solid;
    border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 255, 0.8)) 1;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 20px 0; /* Margin for spacing */
    animation: borderAnimation 1.5s infinite alternate, backgroundAnimation 5s infinite alternate;
}

.respawn-button:hover {
    background: linear-gradient(135deg, rgba(135, 206, 250, 0.7), rgba(173, 216, 230, 0.7)); /* Hover effect */
}
