@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;700&display=swap');

.game-container {
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, rgba(135, 206, 250, 0.5), rgba(173, 216, 230, 0.5)); /* Gradient background */
    color: #ffffff; /* White text color */
    padding: 10px;
    border: 5px solid;
    border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 255, 0.8)) 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    font-family: 'Ysabeau SC', serif; /* Updated font style */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 1000;
    text-align: center;
    animation: slide-in 0.5s ease-out;
    margin-top: 20px; /* Adjust as needed */
    animation: borderAnimation 1.5s infinite alternate, backgroundAnimation 5s infinite alternate;

}

.player, .enemy {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

.player {
    background-color: white;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enemy {
    background-color: red;
    width: 10px;
    height: 10px;
}

@keyframes borderAnimation {
    0% {
        border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 255, 0.8)) 1;
    }
    100% {
        border-image: linear-gradient(45deg, rgba(0, 255, 255, 0.8), rgba(0, 0, 255, 0.8)) 1;
    }
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(135deg, rgba(135, 206, 250, 0.5), rgba(173, 216, 230, 0.5));
    }
    100% {
        background: linear-gradient(135deg, rgba(173, 216, 230, 0.5), rgba(135, 206, 250, 0.5));
    }
}

@keyframes explode {
    0% { transform: translate(0, 0) scale(1); opacity: 1; }
    100% { transform: translate(var(--x), var(--y)) scale(1); opacity: 0; }
}

.enemy .chunk {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: red;
    border-radius: 50%;
    animation: explode 1s forwards; /* Explosion and fade-out effect over 5 seconds */
    z-index: 1000;
}

.chunk {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: red;
    border-radius: 50%;
    animation: explode 1s forwards; /* Explosion and fade-out effect over 5 seconds */
    z-index: 1000;
}

@keyframes flashRed {
    0% { background-color: red; }
    100% { background-color: red; }
}

.player.flash {
    animation: flashRed 0.2s ease-in-out;
}

.flash {
    animation: flashRed 0.2s ease-in-out;
}