@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;700&display=swap');

#hud {
    position: absolute;
    top: 50px;
    left: 100px;
    color: #ffffff; /* White text color */
    font-family: 'Ysabeau SC', serif; /* Updated font style */
    font-optical-sizing: auto;
    font-weight: 600;
    height: 33%;
    border: 5px solid;
    border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 255, 0.8)) 1;
    border-radius: 10px;
    font-style: normal;
    animation: slide-in 0.3s ease-out; /* Apply slide-in animation */
    padding: 20px; /* Add padding for better spacing */
    background-color: rgba(64, 157, 219, 0.8); /* Semi-transparent background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    animation: borderAnimation 1.5s infinite alternate, backgroundAnimation 5s infinite alternate;
    width: 10%;
}


label {
    display: block; /* Ensure the label is on a separate line */
    font-size: 1em;
}

.bar {
    height: 20px; /* Adjust height as needed */
    background-color: red; /* Initial color */
    transition: width 0.5s ease; /* Smooth transition */
}

.health-bar-container, .mana-bar-container, .exp-bar-container {
    width: 100%;
    height: 20px; /* Adjust height as needed */
    background-color: gray; /* Background color for the bar container */
    border-radius: 5px; /* Rounded corners for the bar */
    margin-top: 5px; /* Space between label and bar */
}

#health-bar {
    background-color: #ff5252; /* Health bar color */
    border-radius: 5px;
}

#mana-bar {
    background-color: #42a5f5; /* Mana bar color */
    border-radius: 5px;
}

#exp-bar {
    background-color: #ffca28; /* EXP bar color */
    border-radius: 5px;
}

.bar span {
    margin-left: 10px; /* Space between progress bar and counter */
    font-size: 1em;
}

@keyframes borderAnimation {
    0% {
        border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 255, 0.8)) 1;
    }
    100% {
        border-image: linear-gradient(45deg, rgba(0, 255, 255, 0.8), rgba(0, 0, 255, 0.8)) 1;
    }
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(135deg, rgba(135, 206, 250, 0.5), rgba(173, 216, 230, 0.5));
    }
    100% {
        background: linear-gradient(135deg, rgba(173, 216, 230, 0.5), rgba(135, 206, 250, 0.5));
    }
}
