@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;700&display=swap');

.resource-box {
    position: absolute;
    top: 150px;
    left: 320px;
    width: 180px;
    background: linear-gradient(135deg, rgba(135, 206, 250, 0.5), rgba(173, 216, 230, 0.5)); /* Gradient background */
    color: #ffffff; /* White text color */
    padding: 10px 20px;
    border: 5px solid;
    border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 255, 0.8)) 1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    font-family: 'Ysabeau SC', serif; /* Updated font style */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 1000;
    text-align: center;
    display: none; /* Initially hidden */
    animation: borderAnimation 1.5s infinite alternate, backgroundAnimation 5s infinite alternate;

}

@keyframes borderAnimation {
    0% {
        border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.8), rgba(0, 255, 255, 0.8)) 1;
    }
    100% {
        border-image: linear-gradient(45deg, rgba(0, 255, 255, 0.8), rgba(0, 0, 255, 0.8)) 1;
    }
}

@keyframes backgroundAnimation {
    0% {
        background: linear-gradient(135deg, rgba(135, 206, 250, 0.5), rgba(173, 216, 230, 0.5));
    }
    100% {
        background: linear-gradient(135deg, rgba(173, 216, 230, 0.5), rgba(135, 206, 250, 0.5));
    }
}

